@use "sass:math";

.select__from {
  height: 48px;
}
.select__to {
  height: 48px;
  margin-top: 48px;
}
.select__class {
  height: 48px;
  margin-top: 48px;
}
.form-1 {
  position: absolute;
  top: 180px;
  right: 100px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  background: $whiteColor;
  box-shadow: 0px 35px 143px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  @media (max-width: 1024px) {
    position: static;
    max-width: none;
    .mobile-form & {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
  .select__title {
    height: 48px;
  }
  .select__value {
    height: 48px;
  }
  label {
    font-weight: 700;
    font-size: rem(14);
    line-height: math.div(17, 14);
    letter-spacing: 0.07em;
    color: $greyColor;
  }
  // .form-1__footer
  &__footer {
    position: relative;
    margin-top: 31px;
    display: flex;
    justify-content: center;
    @media (max-width: 360px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
    }
  }
  // .form-1__btn
  &__btn {
    box-shadow: none;
    &.disabled {
      background: $greyColor;
    }
  }
  // .form-1__steps
  &__steps {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    font-size: rem(16);
    line-height: math.div(20, 16);
    color: $greyColor;
    &.form-2__steps {
      @media (max-width: 380px) {
        position: static;
      }
    }
    &.form-3__steps {
      @media (max-width: 380px) {
        position: static;
      }
    }
    &.form-4__steps {
      @media (max-width: 380px) {
        position: static;
      }
    }
  }
}

.results-form-1 {
  margin-top: 68px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
  @include adaptiveValue("column-gap", 60, 30);
  &__distance {
    @media (max-width: 549px) {
      text-align: center;
    }
  }
  &__cash {
    @media (max-width: 549px) {
      text-align: center;
    }
  }
  &__time {
    @media (max-width: 549px) {
      text-align: center;
    }
  }
}
.cash-title {
  font-weight: 700;
  font-size: rem(14);
  line-height: math.div(17, 14);
  color: $greyColor;
  letter-spacing: 0.07em;
}
.cash-num {
  margin-top: 6px;
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);
  letter-spacing: 0.07em;
  color: $themeColor;
}
.distance-title {
  font-weight: 700;
  font-size: rem(14);
  line-height: math.div(17, 14);
  color: $greyColor;
  letter-spacing: 0.07em;
}
.distance-num {
  margin-top: 6px;
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);
  letter-spacing: 0.07em;
  color: $themeColor;
}
.time-title {
  font-weight: 700;
  font-size: rem(14);
  line-height: math.div(17, 14);
  color: $greyColor;
  letter-spacing: 0.07em;
}
.time-num {
  margin-top: 6px;
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);
  letter-spacing: 0.07em;
  color: $themeColor;
}

.select_from {
  margin-top: 6px;
}
.select_to {
  margin-top: 6px;
}
.select_class {
  margin-top: 6px;
}