@use 'sass:math';

// Заголовки, общие БЄМ блоки и проче...


.title {
  font-weight: 700;
  font-size: rem(32);
  @include adaptiveValue("font-size", 32, 20);
  line-height: 120%;
}
table {
  //border-collapse: unset;
  border-spacing: unset;
}
.btn {
  cursor: pointer;
  width: 222px;
  height: 50px;
  background: $themeColor;
  box-shadow: 0px 21px 55px rgba(52, 177, 110, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: rem(16);
  line-height: math.div(20, 16);
  color: $whiteColor;
  &__form {
    width: 186px;
    height: 50px;
  }
}

.form {
  position: absolute;
  top: 0;
  right: 0;
}

.form-disable {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.mt-20 {
  margin-top: 20px;
}

.form__btn {
  width: 186px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $themeColor;
  box-shadow: 0px 21px 55px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 600;
  font-size: rem(16);
  line-height: math.div(20, 16);
  color: $whiteColor;
  &.disabled {
    background: $greyColor;
  }
}

.form__steps {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  font-size: rem(16);
  line-height: math.div(20, 16);
  color: $greyColor;
}

.form__arrow {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translate(0, 50%);
  &::before {
    font-size: rem(32);
  }
  @media (max-width: 380px) {
    transform: none;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.inp-active {
  border: 1px solid $themeColor !important;
  //&::placeholder {
  //  color: $mainColor;
  //}
}

.error {
  &__form {
    display: none;
    margin-top: 5px;
    font-size: rem(14);
    color: red;
  }
}

.mobile-form {
  height: auto;
}

.footer__mobile {
  display: flex;
  justify-content: center;
  align-self: center;
  &-2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &-3 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.underline-one {
  color: $mainColor; /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
}


.underline-one:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: $themeColor; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px; /* Высота линии */
  background-color: $themeColor; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}

.underline-one-footer {
  color: $whiteColor; /* Цвет обычной ссылки */
  position: relative;
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание */
}


.underline-one-footer:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: $mainColor; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.underline-one-footer:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px; /* Высота линии */
  background-color: $mainColor; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}